.component-widget.component-slots {
  display: flex;
  flex-wrap: wrap;

  .slot {
    width: 100%;
    margin: .5%;
    padding: 1%;
    position: relative;
    border: 1px solid #ddd;

    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {
      width: 49%;
    }

    @media (min-width: 768px) {
      width: 32%;
    }

    @media (min-width: 992px) {
      width: 24%;
    }

    > .inner {
      overflow: hidden;
      position: relative;
    }

    &.editable {
      cursor: pointer;
    }

    &.empty {
      cursor: pointer;

      &:hover {
        i {
          color: inherit;
        }
      }

      i {
        color: #999;
      }

      > .inner {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 0;
        text-align: center;
        transform: translateY(-50%);
      }

      // Set height the same as width
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

    }
  }
}
