.widget-multi-row {
  .content-table {
    width: 100%;
  }

  .order-col, .actions-col {
    padding: 0 4px 6px;
    white-space: nowrap;
    width: 1%;
  }

  .widget-col {
    padding: 0 4px 6px;
  }
}
