.widget-treetable {
  .widget-component {
    display: flex;
    flex-wrap: nowrap;
  }

  .root-droppable {
    width: 10px;
  }

  .data-table-toolbar {
    margin-bottom: 1em;
  }

  tr {
    &.has-children {
      &.is-expanded {
        .drag-handler {
          display: none;
        }
      }
    }

    &:not(.has-children) {
      .expander {
        display: none;
      }
    }

    &.is-dragging {
      border: 1px solid black;

      td {
        visibility: hidden;

        &:nth-child(1), &:nth-child(2)  {
          visibility: visible;
        }
      }
    }

    &.is-hidden {
      display: none;
    }
  }

  .td-row-actions, .td-field-entity-actions {
    width: 1%;
    white-space: nowrap;
  }

  @for $i from 1 through 10 {
    .depth-#{$i} {
      td:nth-child(1), td:nth-child(2) {
        padding-left: #{$i + 0.5}em;
      }
    }
  }
}
